:root {
    --lightest-brown: #c3a995;
    --light-brown: #AB947E;
    --mocha: #6F5E53;
    --chocolate: #593d3b;
}

body {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,0.7413340336134453) 100%);
    font-family: 'Lora', serif;

}
img {
    width: 40vw;
}
.header{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);

}
.card-title {
    font-size: 3vw;
}

.card-body {
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 28vw;
}

.card-text {
    font-style: italic;
    font-size: 2vw;
}

.card {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coffee {
    background-color: gray;
    display: inline-block;
    height: 15vw;
    margin: 2px;
}

.coffee:hover {
    background-color: purple;
}

.fa-edit:hover {
    color: lightpink;
}


/*#coffees {*/
/*    margin: 5px;*/
/*}*/

hr {
    background-color: var(--mocha);
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 16px;
    z-index: 1000;
    border-radius: 5px;
    background: rgba(89,61,59, 0.85);
}
.roast-label{
    display: none;
}

.collapsible {
    display:none;
}
.add-form{
    display:none;
}
.results {
    color: var(--lightest-brown);
}


@media (min-width: 576px) {
    .fa-plus-circle{
        font-size: 2em;
        color: white;
    }
    .add-form{
        display: block;
    }
    .collapsible{
        display: block;
        background: rgba(89,61,59, 0.85);
        text-align: center;
        border: none;
        border-radius: 5px;
        margin:5px;

    }
    .active, .collapsible:hover {
        background-color: var(--light-brown);
    }
    .content {
        padding: 10px 18px;
        display: none;
        overflow: hidden;
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,169,149,1) 100%);
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 30%;

    }

}
